<p id="notice"><%= notice %></p>

<h1>Hiens</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hiens.each do |hien| %>
      <tr>
        <td><%= hien.username %></td>
        <td><%= link_to 'Show', hien %></td>
        <td><%= link_to 'Edit', edit_hien_path(hien) %></td>
        <td><%= link_to 'Destroy', hien, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hien', new_hien_path %>
